<div class="container my-5" v-cloak>
    <div class="text-center" v-if="Object.keys(cart).length == 0">
      <h1>Cart is Empty.</h1>
    </div>
   <div class="card shopping-cart" v-else>
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Shopping cart
                <a href="/" class="btn btn-outline-info btn-sm float-right" style="color:white">Continue shopping</a>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                    <!-- PRODUCT -->
                    <transition-group name="fadeRight" tag="div">
                    <div v-for="(item,index) in cart" :key="item.name+item.size+item.stand">
                    <!-- TREE -->
                    <div class="row" v-if="item.product !== 'pw'">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                            <img v-if="item.product=='nf'"class="img-responsive" src="/img/noble_fir.jpg" alt="prewiew" width="100" height="200">
                            <img v-if="item.product=='ff'"class="img-responsive" src="/img/frasier_fir.jpg" alt="prewiew" width="100" height="200">
                            <img v-if="item.product=='df'"class="img-responsive" src="/img/douglas_fir.jpg" alt="prewiew" width="100" height="200">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name"><strong>\{{item.product | formatCartProductName}}</strong></h4>
                            <p>Size: <span style="color:green">\{{item.size}}</span></p>
                            <p>Height Preference: <span style="color:green">\{{item.heightPreference}}</span></p>
                            <p>Width Preference <span style="color:green">\{{item.widthPreference}}</span></p>
                            <p>Stand: <span style="color:green">\{{item.stand}}</span></p>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-6 text-md-right" style="padding-top: 5px">
                                <h6><strong>HK$ \{{calculateUnitPrice(item)}}</strong></h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <button type="button" class="btn btn-outline-danger btn-xs" @click="deleteItemInCart(index)">
                                    <v-icon size="130%" color="red lighten-2">mdi-delete</v-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Flower -->
                    <div class="row" v-else>
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                                <img class="img-responsive" src="/img/poinsettia_wreath.jpg" alt="prewiew" width="100" height="200">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name"><strong>\{{formatFlowerName(item.size)}}</strong></h4>
                            <p>Quantity: <span style="color:green">\{{item.quantity}}</span></p>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-6 text-md-right" style="padding-top: 5px">
                                <h6><strong>HK$ \{{calculateUnitPrice(item)}}</strong></h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <button type="button" class="btn btn-outline-danger btn-xs" @click="deleteItemInCart(index)">
                                    <v-icon>home</v-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    </div>
                    </transition-group>
                    <!-- END PRODUCT -->
                <div class="float-right">
                    <a class="btn btn-outline-secondary float-right" @click="clearCart()">
                        Clear Cart
                    </a>
                </div>
            </div>
            <div class="card-footer">
                {{!-- <div class="coupon col-md-5 col-sm-5 no-padding-left float-left">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="coupon code">
                        </div>
                        <div class="col-6">
                            <input type="submit" class="btn btn-default" value="Use coupon">
                        </div>
                    </div>
                </div> --}}
                <div class="float-right" style="margin: 10px">
                    <a class="btn btn-success float-right" style="color:white" href="/checkout">Checkout</a>
                    <div class="float-right" style="margin: 5px">
                        Total price (Not include delivery): <b>HK$ \{{calculateTotalPrice()}}</b>
                    </div>
                </div>
            </div>
        </div>
</div>
